<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page with Background Image</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> 🩵🐟⭐ Happy 3-Tier 과제 중 !!</h1>
  <h2> 2024년 12월에는 반드시.. 일본여행 간다.. 🍜🗾  <h2>
</html>


</html>


<!DOCTYPE html>
<html>
    <head>
        <!--<link rel="stylesheet" href="style.css">-->
        <link rel="icon" src="wood.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
          html, body {min-height: 100%;}
body {background-size: cover;}
          body{
          background: url(https://images.pexels.com/photos/19777961/pexels-photo-19777961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
          background-repeat: no-repeat;}    
          h1 {text-align: left;}
          h2 {text-align: left;}
        </style>

</html>


<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h3> [SUMMER] 👙 여름 해외 여행지 LIST ☀️ </h3>
        <!-- <iframe 
            width="100"
            height="50" 
            src="https://www.youtube.com/watch?v=8bZed-rEHtE"             title="후쿠오카 여행기" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gy            roscope; picture-in-picture; web-share" 
            allowfullscreen
            ></iframe> -->
        <span>
            1) 인도네시아의 발리 - 7월 추천 <br>
            2) 일본의 삿포로 - 7월/8월/9월 추천 <br>
            3) 그리스의 산토리니 - 7월/8월 추천 <br>
            4) 이탈리아의 시칠리아 - 7월/8월/9월 추천 <br>
            5) 크로아티아의 훠바르섬 - 7월/8월/9월 추천 <br>
            6) 태국의 코사무이 - 7월/8월 추천 <br>
            7) 사이판 - 7월/8월 추천 <br>
            8) 말레이시아의 코타키나발루 - 7월/8월 추천 <br>
            9) 베트남의 나트랑 - 9월 추천 <br>
            10) 필리핀의 보라카이 - 7월/8월/9월 추천 <br>
        </span>


        <footer>
             나의 소중한 해외여행 계획💜 by
            <a target="_blank" href="https://<______________">YSB</a>.
            >
        </footer>
    </body>
</html>
