-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEA1ISrnvNmldaZ0jtCBnhYPB5UMS7++EXh6NMQM7/mUFpN1QoJ
Kc9xs9CrCAV6HYP6c0wtKbMI6HWczDO/rpz0PAlVhcV55M2AvRhU5eLDgKhCR9ma
3vFEL2Ve063RD25HY30BJcZcXgMnivvmzUfO62kCvxMyEUTuXdcRC06r0qTsjg4S
8wpt01AXUZjoRpRhAgY3htw7rriNgb/mG4aMlBpeGKUnZqaSCb0i11+YUITzF+Jz
V4fYEzIPiDqgLkkYYfLX+h5k4XYZgiJYusgayYdzfEH9qLrEmkRQvUhQntvOm8Cd
3g+Q4KZ2cUWB8ntXqFRbFLiWPMOrMl4bPY+kVwIDAQABAoIBAQDB1WwvYzO7EOxl
utTCz/sygjsqTQITcrHVSMUrXil0Oplo6WloMCQ17OpCO7SgvSKvDNjYgspqM/Pa
sIxxeAivxZeylmZSUTnNvyaYMtc8PruNiyVdmNMnI591FMFtAJmuXXKxgJX4zYnA
k3d03r0VLEdr/dcZtzRudN2/4XaIfWjCxXk3j48Fr/k/BI8vi9M/MBCYXTTNJnxb
HQdbooiuO0/2R/P8Iz/6FH6yjkVCzt2m4RR7RonJ8EgOxHNZpLMQzuAOfSuqA/Br
8iKPlGoDKWsNmU5C00H+apSBfXx0P5Cr4zmnaEtZyS/wLKHrsyy7fVdw0AEasEUQ
gRUFWOxZAoGBAPNTCZYmMgP6MTm6jtT4jXfBczoHPNV7E3p+TZwiWIiVgtDCzSUe
g1HQXs5c1H0FZH6fTKuBxms3v9GkrtC8vIrDVNdHIwdEcuisIEyCz0eV1jzIFeUe
02uQxtv1+BhPQQlKXs6JfJ+k0dbtFnzrckxwqj8zve/IN8r/HOKkrFeFAoGBAN+W
zc5B60AtF44lPDvcnJ1gB4uqhPCYti+V0vlJyRDrt9JU8MQm4Z4atfA7kObk2s6q
lknoj5mGJZo1BL/vdgOzZbGrHiqdI2uywSY++W49Czs9N80X9ryFnScoetrQ3aIP
gFbQ5cIpc3mUEfTmzrGwP6YwVyUGJQgMNEj1rX0rAoGBAIb6YlADoi0ophPzFHa5
5qgvDP98sldubdC+rcjWGKyz25x445oawhgpcd4iCtHLowLG1Z4yYGJry6G9LCio
+iIz1yWQ1bKbWu8NROGMkvWP/gc7q0GthvSdnGK6oMTDej1wHwWNqS9aG/mRDa+A
YKhcu2RSDKQuOh0GxfxIAz6NAoGASnkLgej4975NOz5xyqqXy9+Bg+a/Mvharozj
4b7O5wDskHVUYLFmsufItATTJeUScIXnWyTIN+WzvqJsO5YCJAdsFvqdKKqAcs3u
gdO19x8ED647WOfjejWy+6kDCsFJIUKyh7g63yo5WUSVmpIKRKsk+DDfxeg/C2gt
PiP+rlMCgYEArZppNSvzdajPchawwpafsw1QNjuh8MQiZ7sPzy8R+NiipgtxA9KT
c07H6gbH7E9cK8gd+TjItk769ifJ4xvfJn2htbIBpCBuuMdC/KxmAPWqvyq7ptml
YbsNVs1O4xlSk0ngfby06cNdxqvGrBf+PxYdVRXZPElrtSZnvO0to1Q=
-----END RSA PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIDqDCCApCgAwIBAgIUA8E9qcEs50FO2FDirWETqYRNIukwDQYJKoZIhvcNAQEL
BQAwNTELMAkGA1UEBhMCS1IxEzARBgNVBAoMCmR5YW5hIEluYy4xETAPBgNVBAMM
CGR5YW5hIENBMB4XDTI0MDUyMDAyMzQ0N1oXDTI5MDUxOTAyMzQ0N1owTTELMAkG
A1UEBhMCS1IxEzARBgNVBAoMCmR5YW5hIEluYy4xFjAUBgNVBAsMDWR5YW5hIFBy
b2plY3QxETAPBgNVBAMMCGR5YW5hIENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEA1ISrnvNmldaZ0jtCBnhYPB5UMS7++EXh6NMQM7/mUFpN1QoJKc9x
s9CrCAV6HYP6c0wtKbMI6HWczDO/rpz0PAlVhcV55M2AvRhU5eLDgKhCR9ma3vFE
L2Ve063RD25HY30BJcZcXgMnivvmzUfO62kCvxMyEUTuXdcRC06r0qTsjg4S8wpt
01AXUZjoRpRhAgY3htw7rriNgb/mG4aMlBpeGKUnZqaSCb0i11+YUITzF+JzV4fY
EzIPiDqgLkkYYfLX+h5k4XYZgiJYusgayYdzfEH9qLrEmkRQvUhQntvOm8Cd3g+Q
4KZ2cUWB8ntXqFRbFLiWPMOrMl4bPY+kVwIDAQABo4GXMIGUMAkGA1UdEwQCMAAw
HwYDVR0jBBgwFoAU4nTUfZXWAIrfqX/S7m28X5PaAJQwHQYDVR0OBBYEFOiPw+HH
pBIi0IYltoRviWgfBMWSMAsGA1UdDwQEAwIF4DAdBgNVHSUEFjAUBggrBgEFBQcD
AQYIKwYBBQUHAwIwGwYDVR0RBBQwEoIQKi5kZGltdGVjaC5jbGljazANBgkqhkiG
9w0BAQsFAAOCAQEAX0V3i1/rvpERu7kX3WaCbows4Jy5eH2A583bg+a+fgDcJnkY
cdaNTIjTm8LOWq+0iFljgijO9x7PNa8X7e5V/oyC89KRnnYnJaAxER1PGtufhkcO
V5iy92OQrNZzs3y17Ce+oneGZn2SPG3EY4W17YSbwnmSs6KEYH+7RTOD0iduUYP6
LJG2IBROduryoFZ5agRD4gkyYP0sWMBFy77Sp/0zP/DEr2ItZk3Tb+fQEs8CdF7l
yl+8y68MVc1jNKzZt7RM5NhJ7w7Y6lUrPihI7dPpJF+ndKQF2Rk033ERSiuUWkMN
lJdFoEaboCdOqnGjZLp4iWodlrEcYaeerSzhIA==
-----END CERTIFICATE-----
