<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ page import="java.sql.*"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="java.sql.ResultSet"%>
<%@page import="java.sql.PreparedStatement"%>
<%@page import="java.sql.DriverManager"%>
<%@page import="java.sql.Connection"%>


<%
Connection conn=null;
ResultSet rs=null;
Statement stmt=null;

try {
    Class.forName("com.mysql.jdbc.Driver");
    conn = DriverManager.getConnection("jdbc:mysql://77.88.140.1:3306/first_db","admin","Passw0rd");

} catch (SQLException ex) {

} finally {

}
%>

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" contentType="text/html";>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page with Background Image</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> 🩵🐟⭐ Happy 3-Tier 과제 중 !!</h1>
  <h2> 2024년 12월에는 반드시.. 일본여행 간다.. 🍜🗾 </h2>

    <head>
        <!--<link rel="stylesheet" href="style.css">-->
        <link rel="icon" src="wood.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
          html, body {min-height: 100%;}
body {background-size: cover;}
          body{

  background: url(https://images.pexels.com/photos/19777961/pexels-photo-19777961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
		background-repeat: no-repeat;
         	background-position: center;
	  }
          h1 {text-align: center;}
          h2 {text-align: center;}
	  h3 {text-align: center;}
          section {text-align: center;}
        </style>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h3> [SUMMER] 👙 여름 해외 여행지 LIST ☀️ </h3>
<%

try {
 stmt = conn.createStatement();
    if (stmt.execute("SELECT * FROM trip")) {
         rs = stmt.getResultSet();
    }
%>
<section>
<%
 while(rs.next()) {
  out.println(rs.getString(1));
  out.write(")&nbsp");
  out.println(rs.getString("destination"));
  out.write("&nbsp-&nbsp");
  out.println(rs.getString("destination_period"));
  out.write("<BR>");
 }
 rs.close();
 stmt.close();
 conn.close();
} catch(Exception e) {
 out.println("rs.next() Error ");
 out.println(e.toString());
}
%>
</section>
<br>
        <footer>
		<section> Terraform Enterprise 바로 가기💜 by<
            <a target="_blank" href="https://sbtfe.ddimtech.click">YSB</a>.
 		</section>
        </footer>
    </body>
</html>
